<html>

<head>
  <title>Express</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Sign in</h1>
  <p>Welcome to website {{text_detail}}</p>
  <form method="post" action="/users/login">
    <p>
      <label>Username</label>
      <input type="text" width="30" name='id'/>
    </p>
    <p>
      <label>Password</label>
      <input type="password" width="30"/>
    </p>
    <input type="submit" value="Sign-in" />
  </form>
  {% if isList %}
    <h2>View Users List</h2>
    {{userTest.id}} & {{userTest.password}}
  {% else %}
    <a href="/users/list">View List</a>
  {% endif %}
</body>

</html>
